Dir[File.dirname(__FILE__) + '/../lib/*.rb'].each { |file| require File.expand_path(file) }
include CruiseMonitor::Build

module CruiseMonitor
  class Config

    # available servers:
    #   cruise_at(rss_feed_url)
    #   ccnet_at(html_page_url | rss_url)
    #   hudson_at(atom_feed_url)
    SERVER = cruise_at('http://my.build.server/projects/myproject.rss')
  
    # use Monitor.failures_on(..) to monitor failures only,
    # Monitor.all_builds_on(..) to monitor all new builds
    MONITOR = Monitor.all_builds_on(SERVER)

  end
end